

{% load i18n static %}

<div class="row" style="display: block;">
    <div class="col-12" style="display: block;">
        <p class="datetime" style="display: inline-block; margin-right: 1rem" >
            <input type="text" name="created_at__date__gte" value="" class="vDateField" size="10" id="from_date", placeholder="From Date">
            <br>
            <input type="text" name="created_at__date__lte" value="" class="vDateField" size="10" id="to_date" placeholder="To Date">
        </p>
    </div>
</div>


